

body{
    background-color:#E8F4FD;
}


h1{
    color:#2B46A6;
}

h2{
    color:#3B60E4;
}

h3{

    color:#17AFE3;
}

p{
    color:#262724;
}

a{
    color: #C8ADC0;
    text-decoration:none ;
}

a:hover{
    color:#21357D;

}

.diary {
    background-color:#ffffff;
    color: #54635A;
}