body {
    margin: 0;
    padding: 0;
    background: rgb(114, 244, 247);
    background: -moz-linear-gradient(0deg, rgba(114, 244, 247, 1) 0%, rgba(87, 252, 102, 1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(114, 244, 247, 1) 0%, rgba(87, 252, 102, 1) 100%);
    background: linear-gradient(0deg, rgba(114, 244, 247, 1) 0%, rgba(87, 252, 102, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#72f4f7", endColorstr="#57fc66", GradientType=1);
}

.grid {
    margin: 0;
    min-width: 375px;
    max-width: 640px;
    display: grid;
    grid-template-areas: "menu" "header" "content" "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto 200px auto 1fr;
}

.navigation_section {
    grid-area: menu;
    text-align: center;
}

.navigation {}

.navigation__list {
    list-style: none;
    display: none;
    padding: 0 5px 0 5px;
}

.navigation__list--visible {
    display: contents;
}

.navigation__switcher {
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 10;
    margin: 10px 10px 0 0;
    border: none;
    background: none;
}

.navigation__item {
    width: 80%;
    margin: 16px;
    padding: 4px;
    border-radius: 25px;
    text-align: center;
    background: rgb(212, 255, 248);
    background: -moz-radial-gradient(circle, rgba(212, 255, 248, 1) 0%, rgba(70, 161, 252, 1) 100%);
    background: -webkit-radial-gradient(circle, rgba(212, 255, 248, 1) 0%, rgba(70, 161, 252, 1) 100%);
    background: radial-gradient(circle, rgba(212, 255, 248, 1) 0%, rgba(70, 161, 252, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d4fff8", endColorstr="#46a1fc", GradientType=1);
}

.navigation__item:hover {
    background: rgb(212, 255, 248);
    background: -moz-radial-gradient(circle, rgba(212, 255, 248, 1) 23%, rgba(70, 161, 252, 1) 76%);
    background: -webkit-radial-gradient(circle, rgba(212, 255, 248, 1) 23%, rgba(70, 161, 252, 1) 76%);
    background: radial-gradient(circle, rgba(212, 255, 248, 1) 23%, rgba(70, 161, 252, 1) 76%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d4fff8", endColorstr="#46a1fc", GradientType=1);
}

.navigation__goup {
    z-index: 2;
    color: #317B22;
    text-decoration: none;
    position: fixed;
    bottom: 5px;
    right: 5px;
    padding: 15px;
    border-radius: 50%;
    background: rgb(212, 255, 248);
    background: -moz-radial-gradient(circle, rgba(212, 255, 248, 1) 0%, rgba(70, 161, 252, 1) 100%);
    background: -webkit-radial-gradient(circle, rgba(212, 255, 248, 1) 0%, rgba(70, 161, 252, 1) 100%);
    background: radial-gradient(circle, rgba(212, 255, 248, 1) 0%, rgba(70, 161, 252, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d4fff8", endColorstr="#46a1fc", GradientType=1);
}

.navigation__goup:hover {
    color: #931621;
    background: rgb(212, 255, 248);
    background: -moz-radial-gradient(circle, rgba(212, 255, 248, 1) 23%, rgba(70, 161, 252, 1) 76%);
    background: -webkit-radial-gradient(circle, rgba(212, 255, 248, 1) 23%, rgba(70, 161, 252, 1) 76%);
    background: radial-gradient(circle, rgba(212, 255, 248, 1) 23%, rgba(70, 161, 252, 1) 76%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d4fff8", endColorstr="#46a1fc", GradientType=1);
}

.navigation__link {
    color: rgb(22, 94, 7);
    text-decoration: none;
}

.navigation__link:hover {
    color: #931621;
}

.header {
    z-index: 3;


}

.heading {
    display: inline;
    margin-left: 50px;
}

.siteheader {
    grid-area: header;
    background: tomato;
    /*  background-image: url("gory.png"); */
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    grid-row: 2 / 3;
    grid-column-start: 1;
    z-index: 2;
}

.article {
    grid-area: content;
}

.content {
    grid-area: content;
    padding: 5px;
}

.aboutme__img {
    width: 100%;
    max-width: 150px;
    display: block;
    float: left;
    margin: 0px 30px 30px 0px;
    animation: waves 30s infinite alternate ease-in-out;
    will-change: border-radius;
    border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
}
@keyframes waves {
    0% {
      border-radius: 30% 70% 70% 30%/30% 30% 70% 70%; }
    25% {
      border-radius: 70% 30% 30% 70%/70% 70% 30% 30%; }
    50% {
      border-radius: 30% 70% 70% 30%/30% 30% 70% 70%; }
    100% {
      border-radius: 70% 30% 30% 70%/70% 70% 30% 30%; } }
  

.aboutme__header2 {
    color: #3B60E4;
    margin-left: 16px;
}

.aboutme__paragraph {
    background-color: #F0F9FB;
    color: #54635A;
    padding: 10px 10px 10px 20px;
    border-radius: 16px;
    line-height: 24px;
}

.aboutme__link {
    color: #317B22;
    text-decoration: none;
}

.aboutme__link:hover {
    color: #931621;
}

.diary {}

.diary__header2 {
    color: #3B60E4;
    margin-left: 16px;
}

.diary__header3 {
    color: #17AFE3;
    margin-left: 16px;
}

.diary__paragraph {
    background-color: #F0F9FB;
    color: #54635A;
    padding: 10px 10px 10px 20px;
    clear: both;
    border-radius: 16px;
}

.diary__flex__header3 {
    color: #17AFE3;
    margin-left: 16px;
}

.diary__flex__box {}

.diary__paragraph diary__paragraph--color {
    color: #F0F9EA;
}

.diary__link {
    color: #317B22;
    text-decoration: none;
}

.diary__link:hover {
    color: #931621;
}

.footer {
    border-radius: 16px;
    padding: 16px;
    color: #2B46A6;
    background-color: #F0F9FB;
    text-align: center;
    grid-area: footer;
    z-index: 1;
    margin-bottom: 16px;
}

.footer__link {
    color: #317B22;
    text-decoration: none;
}

.footer__link:hover {
    color: #931621;
}

@media (min-width: 640px) {
    body {
        margin: auto;
    }
    .grid {
        min-width: 640px;
        max-width: 900px;
        margin: auto;
        display: grid;
        grid-template-areas: "menu menu" "header header " "content content" "footer footer";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 200px auto 1fr;
        grid-column-gap: 16px;
        grid-row-gap: 16px;
    }
    .siteheader {
        border-radius: 16px;
    }

    .heading {
        padding-right: 16px;
        text-align: right;
    }

    .navigation__section {
        grid-area: menu;
        text-align: center;
    }
    .navigation__switcher {
        display: none;
    }
    .navigation {
        display: flex;
        grid-area: menu;
        justify-content: center;
        align-content: center;
        margin-top: 10px;
    }
    .navigation__list {
        display: flex;
        list-style: none;
        padding: 0 5px 0 5px;
    }
    .navigation__item {
        display: block;
        margin: 0 20px 0 20px;
        padding: 20px 10px 20px 10px;
        border-radius: 50%;
        background: rgb(212, 255, 248);
        background: -moz-radial-gradient(circle, rgba(212, 255, 248, 1) 0%, rgba(70, 161, 252, 1) 100%);
        background: -webkit-radial-gradient(circle, rgba(212, 255, 248, 1) 0%, rgba(70, 161, 252, 1) 100%);
        background: radial-gradient(circle, rgba(212, 255, 248, 1) 0%, rgba(70, 161, 252, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d4fff8", endColorstr="#46a1fc", GradientType=1);
    }
    .navigation__item:hover {
        background: rgb(212, 255, 248);
        background: -moz-radial-gradient(circle, rgba(212, 255, 248, 1) 23%, rgba(70, 161, 252, 1) 76%);
        background: -webkit-radial-gradient(circle, rgba(212, 255, 248, 1) 23%, rgba(70, 161, 252, 1) 76%);
        background: radial-gradient(circle, rgba(212, 255, 248, 1) 23%, rgba(70, 161, 252, 1) 76%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d4fff8", endColorstr="#46a1fc", GradientType=1);
    }
    .navigation__link {
        color: #317B22;
        text-decoration: none;
    }
    .navigation__link:hover {
        color: #931621;
    }
    .diary__flex__box {}
    .diary__flex__header3 {}
    .diary__flex__paragraph {}
}