body {
    background: rgb(114, 244, 247);
    background: -moz-linear-gradient(0deg, rgba(114, 244, 247, 1) 0%, rgba(87, 252, 102, 1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(114, 244, 247, 1) 0%, rgba(87, 252, 102, 1) 100%);
    background: linear-gradient(0deg, rgba(114, 244, 247, 1) 0%, rgba(87, 252, 102, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#72f4f7", endColorstr="#57fc66", GradientType=1);
    margin: 0px;
}

.side__header {
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    box-sizing: border-box;
    padding: 0px;
}

.navigation {

}

.navigation__list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0 5px 0 5px;
    margin: 5px 0 0 0;
}

.navigation__item {
    display: block;
    margin: 0 20px 0 20px;
    padding: 20px 10px 20px 10px;
    border-radius: 50%;
    background: rgb(212, 255, 248);
    background: -moz-radial-gradient(circle, rgba(212, 255, 248, 1) 0%, rgba(70, 161, 252, 1) 100%);
    background: -webkit-radial-gradient(circle, rgba(212, 255, 248, 1) 0%, rgba(70, 161, 252, 1) 100%);
    background: radial-gradient(circle, rgba(212, 255, 248, 1) 0%, rgba(70, 161, 252, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d4fff8", endColorstr="#46a1fc", GradientType=1);
}

.navigation__item:hover {
    background: rgb(212, 255, 248);
    background: -moz-radial-gradient(circle, rgba(212, 255, 248, 1) 23%, rgba(70, 161, 252, 1) 76%);
    background: -webkit-radial-gradient(circle, rgba(212, 255, 248, 1) 23%, rgba(70, 161, 252, 1) 76%);
    background: radial-gradient(circle, rgba(212, 255, 248, 1) 23%, rgba(70, 161, 252, 1) 76%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d4fff8", endColorstr="#46a1fc", GradientType=1);
}

.navigation__link {
    color: #317B22;
    text-decoration: none;
}

.navigation__link:hover {
    color: #931621;
}

.navigation__goup {
    color: #317B22;
    text-decoration: none;
    position: fixed;
    bottom: 5px;
    right: 5px;
    padding: 15px;
    border-radius: 50%;
    background: rgb(212, 255, 248);
    background: -moz-radial-gradient(circle, rgba(212, 255, 248, 1) 0%, rgba(70, 161, 252, 1) 100%);
    background: -webkit-radial-gradient(circle, rgba(212, 255, 248, 1) 0%, rgba(70, 161, 252, 1) 100%);
    background: radial-gradient(circle, rgba(212, 255, 248, 1) 0%, rgba(70, 161, 252, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d4fff8", endColorstr="#46a1fc", GradientType=1);
}

.navigation__goup:hover {
    color: #931621;
    background: rgb(212, 255, 248);
    background: -moz-radial-gradient(circle, rgba(212, 255, 248, 1) 23%, rgba(70, 161, 252, 1) 76%);
    background: -webkit-radial-gradient(circle, rgba(212, 255, 248, 1) 23%, rgba(70, 161, 252, 1) 76%);
    background: radial-gradient(circle, rgba(212, 255, 248, 1) 23%, rgba(70, 161, 252, 1) 76%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d4fff8", endColorstr="#46a1fc", GradientType=1);
}

.main {
    width: 100%;
    max-width: 700px;
    margin: auto;
    padding-top: 55px;
}

.main__header1 {
    margin-top: 15px;
    color: #2B46A6;
    background-color: #CCE8F7;
    padding: 10px;
    text-align: center;
}

.aboutme__header2 {
    color: #3B60E4;
}

.aboutme_paragraph {
    color: #000000;
    line-height: 24px;
}

.aboutme__img {
    width: 100%;
    max-width: 150px;
    display: block;
    float: left;
    margin: 0px 20px 20px 0px;
}

.aboutme__link {
    color: #317B22;
    text-decoration: none;
}

.aboutme_link:hover {
    color: #931621;
}

.diary {}

.diary__header2 {
    color: #3B60E4;
}

.diary__header3 {
    color: #17AFE3;
}

.diary__paragraph {
    background-color: #F0F9FB;
    color: #54635A;
    padding: 10px 10px 10px 20px;
    clear: both;
}

.diary__paragraph diary__paragraph--color {
    color: #F0F9EA;
}

.diary__link {
    color: #317B22;
    text-decoration: none;
}

.diary__link:hover {
    color: #931621;
}

.float {
    clear: both;
}

.footer {
    margin: 15px auto;
    color: #2B46A6;
    background-color: #CCE8F7;
    padding: 10px;
    text-align: center;
    max-width: 700px;
}

.footer__link {
    color: #317B22;
    text-decoration: none;
}

.footer__link:hover {
    color: #931621;
}

.table {
    background-color: #F0F9EA;
    border-style: solid;
    border-radius: 5px;
    border-color: #82C09A;
    width: 600px;
    margin: auto;
    border-spacing: 0px;
}

.table__header {
    border: 0px;
}

.table__heading {
    font-size: 50px;
}

.table__title {
    background-color: #82C09A;
    width: 600px;
    height: 120px;
    border: 0px;
}

.table__title--header {
    background-color: YELLOW;
    width: 598px;
}

.table__content {
    background-color: #ffffdd;
    padding: 5px;
    border: 0px;
    width: 600px;
}

.table__foot {
    background-color: #82C09A;
    width: 600px;
    height: 80px;
}

.table__foot--middle {
    text-align: center;
    border: 0px;
}

.table__paragraph {
    color: #000000;
}

.table__content--nav {
    background-color: #C6E2D1;
    padding: 5px;
    border-right: 1px;
    border-left: 0px;
    border-top: 0px;
    border-bottom: 0px;
    border-style: dotted;
    border-color: #82C09A;
    width: 100px;
    height: 400px;
    vertical-align: text-top;
}

.table__nav--list {
    list-style: none;
    padding-inline-start: 5px;
}

.table__nav--link {
    text-decoration: none;
    color: #A72121;
}

.table__nav--link:hover {
    text-decortion: none;
    color: #0000D3;
}

.table__content--main {
    background-color: #C6E2D1;
    padding: 5px;
    width: 420px;
    height: 400px;
    vertical-align: text-top;
}

.table__content--add {
    background-color: #C6E2D1;
    padding: 5px;
    border-left: 1px;
    border-style: dotted;
    border-color: #82C09A;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 0px;
    width: 50px;
    height: 400px;
    vertical-align: text-top;
}

.table__add--paragraph {
    color: #D36135;
}